@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;400;700;900&display=swap');

body {
	background-image: url('https://www.transparenttextures.com/patterns/inspiration-geometry.png');
	font-family: 'Nunito Sans', sans-serif;
}

/* Loading Dots  */
.dot-flashing {
	position: relative;
	width: 20px;
	height: 20px;
	border-radius: 10px;
	background-color: #d926a9;
	color: #d926a9;
	animation: dotFlashing 1s infinite linear alternate;
	animation-delay: 0.5s;
}

.dot-flashing::before,
.dot-flashing::after {
	content: '';
	display: inline-block;
	position: absolute;
	top: 0;
}

.dot-flashing::before {
	left: -30px;
	width: 20px;
	height: 20px;
	border-radius: 10px;
	background-color: #d926a9;
	color: #d926a9;
	animation: dotFlashing 1s infinite alternate;
	animation-delay: 0s;
}

.dot-flashing::after {
	left: 30px;
	width: 20px;
	height: 20px;
	border-radius: 10px;
	background-color: #d926a9;
	color: #d926a9;
	animation: dotFlashing 1s infinite alternate;
	animation-delay: 1s;
}

@keyframes dotFlashing {
	0% {
		background-color: #d926a9;
	}
	50%,
	100% {
		background-color: #ebe6ff;
	}
}

.max-h-120 {
	max-height: 70rem;
}

.max-w-100 {
	max-width: 100px;
}
